# ===== Build output =====
Debug/
Release/
build/
out/

# ===== STM32 / CubeIDE =====
*.elf
*.hex
*.bin
*.map
*.lst
*.d
*.o
*.su
*.axf

# ===== Make / CMake =====
Makefile
makefile
*.mk
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# ===== IDE junk =====
.vs/
.settings/
# .project
# .cproject

# ===== Logs / temp =====
*.log
*.tmp

# ===== additional =====
*.db
*.json
*.suo
*.ipch
*.log
*.ibt
*.ibd
*.pid
*.bak
*.tmp
#*.csproj
web-console/data/
web-console/server/logs/
web-console/server/node_modules/
web-console/node_modules
