<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UBA6_Controller_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UBA6_Controller_App.Properties.Settings>
            <setting name="UBA_COM" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="MultimeterName" serializeAs="String">
                <value>USB0::0x05E6::0x6500::04624183::0::INSTR</value>
            </setting>
            <setting name="LoadCell_COM" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PS_COM" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="EmulationMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvgCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MeasurementDelayMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PS_DelayMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TolerancePercentage" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UBA_MaxChargeCurrent" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="UBA_MaxVoltage" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UBA_MaxDischargeCurrent" serializeAs="String">
                <value>3000</value>
            </setting>
        </UBA6_Controller_App.Properties.Settings>
    </userSettings>
</configuration>